.box {
    width: 25%;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
}

.img {
    text-align: center;
    display: block;
    height: 400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    display: block;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    display: flex;
    align-items: center;
    justify-content: center;
}


.button {}
